#chats-sidenav {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 100%;
  padding: 16px;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  & .item {
      border-radius: 16px;
  }
}

.item:hover {
  cursor: pointer;
  background-color: var(--md-sys-color-surface-container-low);
}

.item:focus::before {
  background-color: var(--md-sys-color-surface-container);
}

.icon {
  border-radius: 100%;
  background-color: var(--md-sys-color-primary-container);
  padding: 8px;
}

.active {
  background-color: var(--md-sys-color-surface-container) !important;
  & h3 {
      font-weight: 500;
      color: var(--md-sys-color-primary) !important;
  }
  & mat-icon {
      color: var(--md-sys-color-primary) !important;
  }
}