@if (router.url != '/welcome') {
    <mat-toolbar class="!h-[60px]">
        <span id="title" routerLink="/welcome">Blizz Chat</span>
        @if (router.url != '/login' && router.url != '/signup') {
            <div id="nav-buttons">
                <button mat-button routerLink="/chats" [class.active]="router.url.includes('/chats')">Chats</button>
                <button mat-button routerLink="/stories" [class.active]="router.url.includes('/stories')">Stories</button>
                <button mat-button routerLink="/map" [class.active]="router.url.includes('/map')">Map</button>
                <button mat-button routerLink="/profile" [class.active]="router.url.includes('/profile')">Profile</button>
                <button mat-button routerLink="/welcome">Logout</button>
            </div>
        }
    </mat-toolbar>
}
<div id="page-wrapper" class="fullscreen">
    <router-outlet></router-outlet>
</div>