mat-toolbar {
    border-bottom: solid 1px var(--md-sys-color-outline);
    padding: 0 32px;
    justify-content: space-between;
}

#title {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
    color: var(--md-sys-color-primary);
    cursor: pointer;
}

#nav-buttons {
    display: flex;
    gap: 32px;
}

#nav-buttons button {
    font-size: 20px;
    color: var(--md-sys-color-on-surface) !important;
}

#nav-buttons .active {
    color: var(--md-sys-color-primary) !important;
    font-weight: bold;
}

