@if (router.url != '/welcome' && router.url != '/login' && router.url != '/register') {
    <mat-toolbar color="accent">
        <span id="title">Blizz Chat</span>
        <div id="nav-buttons">
            <button mat-flat-button color="warn">Chats</button>
            <button mat-flat-button color="warn">Stories</button>
            <button mat-flat-button color="warn">Map</button>
            <button mat-flat-button color="warn">Profile</button>
        </div>
    </mat-toolbar>
}
<router-outlet></router-outlet>