<mat-sidenav-container style="height: 100%;" class="custom-container">
    <mat-sidenav id="chats-sidenav" mode="side" opened="true">
        <text-field [searchWord]="searchWord" [isSearch]="true" prompt="Search"></text-field>
        <mat-button-toggle-group id="toggles" name="chatmode" value="chats" aria-label="Chat mode">
            <mat-button-toggle value="chats">Chats</mat-button-toggle>
            <mat-button-toggle value="contacts">Contacts</mat-button-toggle>
            <mat-button-toggle value="add">Add</mat-button-toggle>
          </mat-button-toggle-group>
        <mat-list id="list">
            @for (chat of chats; track $index) {                
                <mat-list-item class="item" [class.active]="$index === active" (click)="active = $index" [routerLink]="'/chats/' + chat">
                    <mat-icon class="icon !flex !justify-center !items-center !w-8 !h-8" matListItemIcon>person_outline</mat-icon>
                    <h3 matListItemTitle>{{chat}}</h3>
                </mat-list-item>
            }
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100%;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
