:host {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row !important;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 16px;
    padding: 16px;
    width: 100%;
}

.card:last-child {
    margin-right: auto;
}

.icon {
    border-radius: 100%;
    background-color: var(--md-sys-color-primary-container);
    padding: 8px;
}