<div class="h-full w-2/5 bg-[var(--md-sys-color-secondary-container)] flex center">
    <h1>Welcome back!</h1>
</div>
<div class="h-full w-3/5 flex center">
    <mat-card appearance="outlined">
        <mat-card-content class="flex flex-col center">
            <form class="flex flex-col center" [formGroup]="loginFrom" (submit)="login()">
                <h3>Please log in to your account</h3>
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>email</mat-icon>
                        Email address
                    </mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>lock</mat-icon>
                        Password
                    </mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <button mat-flat-button type="submit">Log In</button>
            </form>
            <div id="switcher" class="flex flex-row center">
                <span>Not a member yet?</span>
                <button mat-button routerLink="/signup">Register now</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
