#title {
    font-size: 96px;
    font-weight: 500;
    margin: 0;
}

#subtitle {
    font-size: 45px;
    font-weight: normal;
}

#continue {
    width: 150px;
    height: 48px;
    font-size: 18px;
}

mat-icon {
    width: 250px;
    height: 250px;
    font-size: 250px;
}