.dark-medium-contrast {
  --md-sys-color-primary: rgb(211 193 255);
  --md-sys-color-surface-tint: rgb(207 189 254);
  --md-sys-color-on-primary: rgb(27 9 66);
  --md-sys-color-primary-container: rgb(152 135 197);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(208 199 224);
  --md-sys-color-on-secondary: rgb(24 19 37);
  --md-sys-color-secondary-container: rgb(149 141 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(244 188 204);
  --md-sys-color-on-tertiary: rgb(43 11 24);
  --md-sys-color-tertiary-container: rgb(181 131 146);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 224 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(255 249 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(206 200 212);
  --md-sys-color-outline: rgb(166 161 171);
  --md-sys-color-outline-variant: rgb(134 129 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 233);
  --md-sys-color-inverse-on-surface: rgb(43 41 47);
  --md-sys-color-inverse-primary: rgb(78 63 119);
  --md-sys-color-primary-fixed: rgb(233 221 255);
  --md-sys-color-on-primary-fixed: rgb(22 3 61);
  --md-sys-color-primary-fixed-dim: rgb(207 189 254);
  --md-sys-color-on-primary-fixed-variant: rgb(60 45 99);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(19 14 32);
  --md-sys-color-secondary-fixed-dim: rgb(203 194 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 51 71);
  --md-sys-color-tertiary-fixed: rgb(255 217 227);
  --md-sys-color-on-tertiary-fixed: rgb(36 6 19);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(80 43 56);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(59 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 47);
  --md-sys-color-surface-container-highest: rgb(54 52 58);
}
