<div class="h-full w-2/5 bg-[var(--md-sys-color-secondary-container)] flex center">
    <h1>Welcome newcomer!</h1>
</div>
<div class="h-full w-3/5 flex center">
    <mat-card appearance="outlined">
        <mat-card-content class="flex flex-col center">
            <form class="flex flex-col center" [formGroup]="signUpForm">
                <h3>Please register an account</h3>
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>person</mat-icon>
                        Username
                    </mat-label>
                    <input matInput type="text" formControlName="userName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>email</mat-icon>
                        Email address
                    </mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>lock</mat-icon>
                        Password
                    </mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>lock</mat-icon>
                        Confirm Password
                    </mat-label>
                    <input matInput type="password" formControlName="rePassword">
                </mat-form-field>
                <button mat-flat-button type="submit">Sign In</button>
            </form>
            <div id="switcher" class="flex flex-row center">
                <span>Already a member?</span>
                <button mat-button routerLink="/login">Log in now</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
